body {
    margin: 0px;
    padding: 0px;
    color: #777777;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    background-image: url('20555.jpg');
    background-size: cover;
    //background-repeat: repeat-y;
}

header {
    color: #000033;
    height: 60px;
    width: 100%;
    background-color: #777777;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rajdhani', sans-serif;
}

nav {
    font-weight: bold;
    background-color: #777777;
}

footer {
    font-size: 0.70em;
    font-style: italic;
    text-align: center;
}

#footer_links {
    float: right;
    margin-top: -20px;
    margin-right: 20px;
    font-size: 20px;
    letter-spacing: 10px;   
}

button {
    background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
    background-size: 200% auto;
    padding: 0px 35px;
    color: #222222;
    margin-left: 44%;
}

a {
   color: #000033;
   text-decoration: none; 
}

#nav_bar ul {
    list-style-type: none;
    margin-top: 22px;
}

#nav_bar ul li {
    display: inline;
    padding-right: 20px;
}

#nav_bar ul li:hover {
    color: white;
}

#nav_bar {
    float: right;
}

#name {
    float:left;
    margin-top: 10px;
    margin-left: 10px;
}

#wrapper {
    text-align: center;
}

main {
    margin-top: 250px;
}

.dl_resume {
    border:0px;
    height:70px;
    cursor: pointer;
    border-radius: 10px;
}

.dl_resume:hover{
    color: #333ed6;
}

footer {
    height: 50px;
    width: 100%;
    background-color: #f7f7f7;
    bottom: 0;
    position: absolute;
}

/* About me page styling */

.form_about_me {
    height: 650px;
    width: 400px;
    background-color:#f7f7f7;
    margin: auto;
    padding: 20px;
    margin-top: -150px;
    text-align: left;
    border-radius: 5px;
}

.form_about_me .in_text {
    height: 40px;
    width: 400px
}

.form_about_me button {
    margin: auto;
    height: 40px;
    width: 400px;
    border: 0px;
}

/* skills page */
.skills {
    height:800px;
    width:800px;
    //background-color:black;
    margin: auto;
}

.skills .form_about_me {
    height: 300px;
}

#class_div_left {
    float: left;
    height: 800px;
    width: 40%;
    margin-top: -250px;
    margin-left: 50px;
}

#class_div_left h1 {
    font-size: 80px;
    font-weight: bold;
}

#move_up {
    margin-top: -50px;
}

img {
    border: 5px solid #6b808c;
}

#class_div_right table td {
    padding: 50px;
}

#class_div_right {
    margin-top: -220px;
    float: right;
    margin-right: 50px;
}

/* portfolio page */
.portfolio .form_about_me {
    height: 350px;
}

/* experience page */
.experience .form_about_me {
    height: 620px;
}

/* contact page */

.contact .form_about_me {
    margin-top: -60px;
    height: 360px;
}

/* sign up */

.signup .form_about_me {
    margin-top: -120px;
    height: 560px;
}
